{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div style="margin-left: 300px">
            <div class="col-md-8" style="margin-top: 75px;">
                {% if project.image %}
                    <img src="{{ project.image.url }}" width="100%" alt="Project Img">
                {% endif %}

                <br>

                <div class="title-text">
                    <h1 style="background-color: white;
                               box-sizing: content-box;
                               margin: auto;">

                        {{ project.title }}</h1>

                </div>
                <div class="col-md-4" style="background-color: white;">
                    <h5>About the project:</h5>
                    <p>{{ project.description }}</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}