{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <form class="login-form" action="{% url 'login' %}?next={{ next }}" method="post">
        <h3>Login Here</h3>
        {% csrf_token %}
        {{ form.username|placeholder:'Email' }}
        {{ form.password|placeholder:'Password' }}
        <br>
        <div class="button-center">
            <button class="button" type="submit">Login</button>
        </div>
        <br>
        <div>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        </div>

        <div class="social">
            <div class="go"><i class="fab fa-google"></i> <a class="black-color" href="https://www.google.com">Google</a></div>
            <div class="fb"><i class="fab fa-facebook"></i> <a class="black-color" href="https://www.facebook.com">Facebook</a></div>
        </div>
    </form>

{% endblock %}