{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ask_for_offer.css' %}">
    <form class="form" method="post">
        {% csrf_token %}
        {{ form.email|placeholder:'Email' }}
        {{ form.name|placeholder:'Name' }}
        {{ form.phone_number|placeholder:'Phone Number' }}
        {{ form.subject|placeholder:'Subject' }}
        {{ form.message|placeholder:'Message' }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}