{% extends 'base.html' %}

{% block content %}

    <main>
      <section class="hero">
    <div class="hero-content">
      <h1>Welcome to our construction company!</h1>
      <p>Your trusted partner in construction projects</p>
        <h2>Construction Services</h2>
      <p>We offer a wide range of construction services including...</p>
      <ul>
          <strong>
              ➤ Residential Construction <br>
              ➤ Commercial Construction <br>
              ➤ Renovation and Remodeling <br>
              ➤ Interior Design <br>
              ➤ ...And More! <br> 🏗️ 👷
          </strong>
      </ul>
    </div>
  </section>
</main>

{% endblock %}