{% extends 'base.html' %}
{% load static %}
{% block content %}


    {#<head>#}
    {#    <meta charset="UTF-8">#}
    {#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    {#    <title>{{ item.title }}</title>#}
    {#</head>#}

    <section class="for_rent">
        <link rel="stylesheet" href="{% static 'css/for_rent.css' %}">
            <h1>{{ item.title }}</h1>
                <img src="{{ item.image.url }}" alt="Item Image">
            <br>
        <p>{{ item.description }}</p>
            {% if item.availability %}
                <p style="color: blue">This item is available</p>
            <form method="post">
                {% csrf_token %}
                {{ form.message }}
                <button class="button" type="submit">Request Availability</button>
            </form>
        {% else %}
            <p style="color: red;">This item is NOT available</p>
        {% endif %}
    </section>

{% endblock %}
