{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/for_rent.css' %}">
    <div class="row row-additional">
        <div>
            <h1 class="h1-class">Items for rent.</h1>
        </div>
        {% for item in items %}
            <div class="col-md-4 additional-4">
                <div class="card mb-2 additional-2">

                    {% if item.image %}
                        <img class="card-img-top" src="{{ item.image.url }}" alt="Project Image">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'item_details' pk=item.pk %}" class="button">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}