{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <section class="post">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <h1>{{ post.title }}</h1>
        <p class="meta">Published on {{ post.publish_date|date:"F d, Y" }} by {{ post.author }}</p>


        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <p>{{ post.content }}</p>

        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a href="{% url 'blog_edit' pk=post.pk %}" class="button">Edit</a>
                <a href="{% url 'blog_delete' pk=post.pk %}" class="button">Delete</a>
            {% endif %}
        {% endif %}

    </section>

    <section class="comments">
        <h2>Comments</h2>
        {% for comment in post.comments.all %}
            <p>{{ comment.content }} - by {{ comment.user.email }}</p>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}


        {% if user.is_authenticated %}
            <section class="comment-form">
                <h2>Add a Comment</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.content }}
                    <button class="button" type="submit">Submit</button>

                </form>
            </section>
            </section>
        {% endif %}




{% endblock %}