{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/blog_new_post.css' %}">
    <section class="post">
        <h1 style="margin-left: 30px">New Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title|placeholder:'Title..' }}
            {{ form.content }}
            {{ form.image }}
            <button class="button" style="margin-left: 30px" type="submit">Submit</button>
        </form>
    </section>


{% endblock %}
