.additional-4 {
    margin-top: 25px;
}

.additional-2 {
    margin: auto;
    width: 350px;
    align-content: center;
}

.row-additional {
    margin: auto;
    margin-top: 50px;
}

.h1-class {
    text-align: center;
    margin: auto;
}
