{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="container-contacts">
        <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
        <h1 class="h1-additional">
            <a href="https://maps.app.goo.gl/bXmuAjkhTWA5Q6nt5"> Find Us </a>
        </h1>

        <h2 class="h2-additional">
            Company Information
        </h2>

        <p class="p-margin">Company Name: "VEGASTROY" LTD</p>
        <p class="p-margin">Address: Burgas Center, ul. "Hristo Botev" 27</p>
        <p class="p-margin">Email: office@vegastroy.com</p>
        <p class="p-margin">Phone: +359 888-999-999</p>

        <h2 class="p-margin">Location:</h2>
        <p>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d618.4326666946091!2d27.46958751593288!3d42.49627749174913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1712407010643!5m2!1sen!2sbg"
                    width="100%" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
    </section>
{% endblock %}
